/* Remove bullets from navigation list */
.header-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  margin-left: 395px;
  margin-top: 50px;
}

.header-nav li {
  position: relative;
}

.header-nav li:not(:last-child)::after {
  position: absolute;
  right: -10px;
  color: #565353;
}

/* Style for the links */
.header-nav li a {
  font-family: 'Roboto Mono', monospace;
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.header-nav li a:hover {
  color: #000000;
}

.navbar-fixed-top{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Regular Navigation Styles (Desktop) */
.header-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  margin-left: 395px;
  margin-top: 50px;
}

/* Hide menu button and menu by default */
.menu-button {
  display: none;
}
/* Responsive adjustments specific to phone screens */
@media (max-width: 800px) {
.menu-container {
  position: relative;
  width: 100%;
}

.menu-button {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: #000;
  cursor: pointer;
  padding: 10px;
  z-index: 1001;
}

.header-nav {
  margin-left: 10px;
  margin-bottom: 10px;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  background-color: rgba(15, 15, 15, 0.1);
  width: 100%;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(15, 15, 15, 0.1);
  z-index: 999;
  padding: 0;

}

/* Display the menu when active */
.header-nav.active {
  display: flex !important;
}

/* Menu item styling */
.header-nav li {
  margin: 0;
  text-align: left;
  padding: 15px 20px;
  border-bottom: 1px solid #444;
  background-color: #060606;
}

.header-nav li:last-child {
  border-bottom: none;
}

/* Link styling within the menu */
.header-nav li a {
  color: #ffffff;
  display: block;
  text-decoration: none;
  width: 100%;
}
}